body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cart-image {
  width: 85%;
  min-height: 150px;
  max-width: 500px;
  object-fit: cover;
  border-radius: 0.3em;
}

.banner {
  max-width: 1000px;
}